{% include "navbar.html" %}


<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-sm-between mb-5">
                    <h3 class="page-title">
                        Edit Profile
                    </h3>
                </div>
                <div class="col-md-12">
                    <form class="forms-sample" action="{% url 'update_profile' user_data.id %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <input type="hidden" name="id" value="{{user_data.id}}" id="">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="first_name"
                                        value="{{user_data.first_name}}" placeholder="Enter First Name" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Last Name</label>
                                    <input type="text" class="form-control" id="fname" name="last_name"
                                        value="{{user_data.last_name}}" placeholder="Enter Last Name" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">UserName</label>
                                    <input type="text" class="form-control" id="fname" name="username"
                                        value="{{user_data.username}}" placeholder="Enter UserName" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Email </label>
                                    <input type="email" class="form-control" id="fname" name="email"
                                        value="{{user_data.email}}" placeholder="Enter Email" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Mobile Number </label>
                                    <input type="text" class="form-control" name="mobile" value="{{user_data.mobile}}"
                                        maxlength="10" pattern="[0-9]{10}" placeholder="Enter Mobile Number" required>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Password </label>
                                    <input type="text" class="form-control" id="fname" name="password"
                                        value="{{user_data.original_password}}" placeholder="Enter Password" required>
                                </div>
                            </div>

                          


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fname">Profile Image </label>
                                    <input type="file" class="form-control" id="fname" name="profile_image"
                                        placeholder="Enter Password"  accept="image/*">
                                </div>
                            </div>
                            <div class="col-md-2">
                                {% if user_data.profile_image %}
                                <img src="{{ user_data.profile_image.url }}" width="60" height="60" style="border-radius:50%;">
                                {% else %}
                                <img src="/static/assets/images/default-user.png" width="60" height="60"
                                    style="border-radius:50%;">
                                {% endif %}
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dppass">Address</label>
                                    <textarea class="form-control" name="address"
                                        placeholder="Address...">{{user_data.address}}</textarea>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <br>
                                <button type="submit" class="btn btn-gradient-primary me-2 mt-1">Update</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}