{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Forgot Password</title>

    <link rel="stylesheet"
        href="{% static 'assets/css/style.css' %}">

</head>
<body>

<div class="container mt-5">

    <div class="card">

        <div class="card-body">

            <h3>Forgot Password</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">

                    <label>Email</label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="btn btn-primary mt-3">

                    Verify Email

                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>