{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Reset Password</title>

    <link rel="stylesheet"
        href="{% static 'assets/css/style.css' %}">

</head>
<body>

<div class="container mt-5">

    <div class="card">

        <div class="card-body">

            <h3>Set New Password</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">

                    <label>New Password</label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        required
                    >

                </div>

                <div class="form-group mt-3">

                    <label>Confirm Password</label>

                    <input
                        type="password"
                        name="confirm_password"
                        class="form-control"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="btn btn-success mt-3">

                    Update Password

                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>