{% include "navbar.html" %}


<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-sm-between mb-5">
                    <h3 class="page-title">
                        Apply Leave
                    </h3>
                    <a href="/leave_list" class="btn btn-danger btn-sm">Leave List</a>
                </div>
                <div class="col-md-12">
                    <form class="forms-sample" action="{% url 'save_leave' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                           

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dpcode">Start Date <span class="text-danger">*</span></label>
                                    <input type="date" name="start_date" class="form-control" required>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dpcode">End Date <span class="text-danger">*</span></label>
                                    <input type="date" name="end_date" class="form-control" required>
                                </div>
                            </div>

                             <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dpnmae">Leave Type <span class="text-danger">*</span> </label>
                                    <select name="leave_type" required class="text-dark form-control p-3">
                                        <option value="" selected>Choose Leave Type</option>
                                        <option value="Full Day">Full Day</option>
                                        <option value="Half Day">Half Day</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dpcode">Attachment (Medical Certificate)</label>
                                    <input type="file" name="attachment" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-8">

                                <div class="form-group">
                                    <label for="dppass">Reason</label>
                                    <textarea class="form-control" name="reason"
                                        placeholder="Add Reason..."></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br>
                                <button type="submit" class="btn btn-gradient-primary me-2 mt-1">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}