{% include "navbar.html" %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-sm-between">
                        <h4 class="card-title">Employee Pending Leave </h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th>SrNO</th>                                  
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    {% if request.user.role == 'admin' %}
                                    <th>Role </th>
                                    {% endif %}
                                    <th>Leave Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Apply Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for i in leaves %}
                                
                                <tr>
                                    <td>{{forloop.counter}} </td>
                                    <td>
                                        <a href="/approve_employee_leave/{{i.id}}" class="btn btn-success btn-sm"><i class="mdi mdi-thumb-up "></i></a>
                                        <a href="/reject_employee_leave/{{i.id}}" class="btn btn-danger btn-sm">
                                        <i class="mdi mdi-thumb-down"></i></a>
                                    </td>
                                    <td> {{i.user.first_name}} {{i.user.last_name}} </td>
                                    <td> {{i.user.username}} </td>
                                    {% if request.user.role == 'admin' %}
                                    <td>{{i.user.role}} </td>
                                    {% endif %}
                                    <td> {{i.leave_type}} </td>
                                    <td> {{i.start_date}} </td>
                                    <td> {{i.end_date}} </td>
                                    <td> {{i.created_at|date:"Y-m-d"}} </td>
                                    <td> {{i.status}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include "footer.html" %}